<v-card>
  <v-card-title class="title">Application errors</v-card-title>
  <v-card-text>
    <p>
      The following is debug output for errors that have occurred. Please
      copy and paste the below text and post it to our
      <a rel="noopener noreferrer" target="_blank" href="https://github.com/Kitware/Glance/issues">issue tracker</a>.
    </p>
    <textarea
      ref="errorTextarea"
      readonly
      :class="$style.errorTextarea"
    >{{ readableErrors }}</textarea>
  </v-card-text>
  <v-card-actions>
    <v-btn
      color="secondary"
      v-on:click="$emit('clear')"
    >
      Clear Errors
    </v-btn>
    <v-spacer />
    <v-btn v-on:click="$emit('close')">Cancel</v-btn>
    <v-btn
      v-if="isClipboardEnabled()"
      key="if-clipboard-enabled"
      color="info"
      :loading="copiedToClipboard"
      v-on:click="copyErrorToClipboard"
    >
      <span>Copy to clipboard</span>
      <span slot="loader">Copied!</span>
    </v-btn>
  </v-card-actions>
</v-card>
