.appContent {
  /* need a fixed height of arbitrary value
   * so the vtk viewers don't grow too much in
   * height when resizing. */
  height: 0;
}

/* set vuetify-specific wrapper to contain our overlay */
:global(.content--wrap) {
  position: relative;
}

/* override vuetify */
/* widens the tabs to take up full space */
.tabs :global(.tabs__div) {
  flex: 1 1 auto;
}

.toolbarButton span {
  margin-left: 4px;
}

.loadingOverlay {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  user-select: none;
}

.overlayText {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  width: 80%;
  margin: auto;
}