#appContent {
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms, visibility 0 100ms;
}

.overlayVisible {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.overlayText {
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  width: 80%;
  margin: auto;
}

.noTransition {
  transition: none;
}
