<drag-and-drop
  :enabled="!landing"
  v-on:drop="loadFiles"
>
  <v-app slot-scope="{ dragHover }">
    <v-navigation-drawer
      :value="!landing && sidebar"
      absolute
      app
      clipped
      hide-overlay
      stateless
    >
      <v-tabs
        :class="$style.tabs"
        v-model="activeTab"
      >
        <v-tab>Datasets</v-tab>
        <v-tab>Global</v-tab>
        <v-tab-item>
          <datasets />
        </v-tab-item>
        <v-tab-item>
          <global-settings />
        </v-tab-item>
      </v-tabs>
    </v-navigation-drawer>
    <v-toolbar
      clipped-left
      app
    >
      <v-toolbar-side-icon
        :disabled="landing"
        @click.native.stop="sidebar = !sidebar"
      />
      <!-- smaller than height of the toolbar -->
      <svg-icon icon="paraview-glance" height="52px" />
      <v-spacer />
      <v-btn
        :class="$style.toolbarButton"
        :disabled="!!loadingName"
        flat
        v-on:click="openFile"
      >
        <v-icon>folder</v-icon>
        <span>Open</span>
      </v-btn>
      <v-btn
        :class="$style.toolbarButton"
        :disabled="landing"
        flat
        v-on:click="screenshotsDrawer = true"
      >
        <v-icon>collections</v-icon>
        <span>Screenshots ({{ screenshotCount }})</span>
      </v-btn>
      <v-btn
        :class="$style.toolbarButton"
        flat
        v-on:click="aboutDialog = true"
      >
        <!-- width of other icons in toolbar -->
        <svg-icon icon="kitware-logo" width="24px" />
        <span>About</span>
      </v-btn>
    </v-toolbar>
    <v-content :class="$style.appContent">
      <div
        :class="$style.overlay"
        v-if="!!loadingName"
      >
        <div :class="$style.overlayText">
          <div class="display-2">Loading {{ loadingName }}...</div>
          <v-progress-linear
            :value="loadingProgress"
            height="10"
            color="info"
          />
        </div>
      </div>
      <landing
        v-if="landing"
        v-on:open="openFile"
        v-on:open-url="loadRemoteDataset"
        v-on:open-files="loadFiles"
      />
      <layout-view v-if="!landing" />
    </v-content>

    <v-navigation-drawer
      v-model="screenshotsDrawer"
      absolute
      right
      temporary
    >
      <screenshots
        v-on:screenshot-count="screenshotCount = $event"
        v-on:close="screenshotsDrawer = false"
      />
    </v-navigation-drawer>

    <!-- notifications manager -->
    <notification />

    <!-- dnd overlay -->
    <div
      :class="{ [$style.overlay]: true, [$style.overlayHidden]: !dragHover }"
    >
      <div :class="$style.overlayText">
        <div class="display-3">Drop files here</div>
        <v-icon class="display-4">publish</v-icon>
      </div>
    </div>

    <!-- raw file dialog -->
    <v-dialog v-model="rawDialog" max-width="50%">
      <raw-file-reader
        v-if="rawFile"
        :file="rawFile"
        v-on:cancel="closeRawFileDialog"
        v-on:read="loadPendingRawFile"
      />
    </v-dialog>

    <!-- about dialog-->
    <v-dialog v-model="aboutDialog" max-width="50%">
      <v-card>
        <v-card-title>
          <span class="title">About</span>
          <v-spacer />
          <v-btn
            flat
            icon
            v-on:click="aboutDialog = false"
          >
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <hr>
        <v-card-text>
          <svg-icon icon="paraview-glance" />
          <p class="body-1">
            <a href="https://kitware.github.io/paraview-glance/">ParaView Glance</a>
            is a general purpose web application for visualizing useful for
            visualizing many data types, as well as a framework for building
            custom web-based visualization applications.
          </p>
          <p class="body-1">
            <span>Find us on </span>
            <a href="https://github.com/Kitware/paraview-glance">Github!</a>
          </p>
          <v-layout row wrap class="text-xs-center" align-end>
            <v-flex xs4>
              <a href="https://www.kitware.com">
                <svg-icon icon="kitware" :class="$style.aboutIcon" />
              </a>
            </v-flex>
            <v-flex xs4>
              <div>&nbsp;</div>
              <a href="https://kitware.github.io/vtk-js/">
                <svg-icon icon="vtkjs" :class="$style.aboutIcon" />
              </a>
            </v-flex>
            <v-flex xs4>
              <div>&nbsp;</div>
              <a href="http://insightsoftwareconsortium.github.io/itk-js/">
                <svg-icon icon="itkjs" :class="$style.aboutIcon" />
              </a>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-app>
</drag-and-drop>
