<drag-and-drop
  :enabled="!landing"
  v-on:drop="loadFiles"
>
  <v-app slot-scope="{ dragHover }">
    <v-navigation-drawer
      :value="!landing && controlsDrawer"
      absolute
      app
      clipped
      hide-overlay
      stateless
    >
      <controls-drawer />
    </v-navigation-drawer>

    <v-toolbar
      clipped-left
      app
    >
      <v-toolbar-side-icon
        :disabled="landing"
        @click.native.stop="controlsDrawer = !controlsDrawer"
      />
      <!-- smaller than height of the toolbar -->
      <svg-icon icon="paraview-glance" height="52px" />
      <v-spacer />
      <v-btn
        v-if="errors.length"
        key="if-has-errors"
        :class="$style.toolbarButton"
        flat
        color="error"
        v-on:click="errorDialog = true"
      >
        <v-icon>error</v-icon>
        <span>{{ errors.length }} error(s)</span>
      </v-btn>
      <v-btn
        :class="$style.toolbarButton"
        :disabled="!!loadingNames.length"
        flat
        v-on:click="openFile"
      >
        <v-icon>folder</v-icon>
        <span>Open</span>
      </v-btn>
<!--
      <v-btn
        :class="$style.toolbarButton"
        :disabled="!!loadingNames.length"
        flat
        v-on:click="saveState()"
      >
        <v-icon>cloud_upload</v-icon>
        <span>Save state</span>
      </v-btn>
      <v-btn
        :class="$style.toolbarButton"
        :disabled="!!loadingNames.length"
        flat
        v-on:click="loadState()"
      >
        <v-icon>cloud_download</v-icon>
        <span>Load state</span>
      </v-btn>
-->
      <v-btn
        :class="$style.toolbarButton"
        :disabled="landing"
        flat
        v-on:click="screenshotsDrawer = true"
      >
        <v-icon>collections</v-icon>
        <span>Screenshots ({{ screenshotCount }})</span>
      </v-btn>
      <v-btn
        :class="$style.toolbarButton"
        flat
        v-on:click="aboutDialog = true"
      >
        <!-- width of other icons in toolbar -->
        <svg-icon icon="kitware-logo" width="24px" />
        <span>About</span>
      </v-btn>
    </v-toolbar>

    <v-content :class="$style.appContent">
      <div
        :class="$style.overlay"
        v-if="loadingNames.length"
        key="if-loading"
      >
        <div :class="$style.overlayText">
          <div class="display-2">Loading {{ loadingNames.join(', ') }}...</div>
          <v-progress-linear
            :value="totalLoadingProgress"
            height="10"
            color="info"
          />
        </div>
      </div>
      <landing
        v-if="landing"
        key="if-landing"
        v-on:open="openFile"
        v-on:open-urls="loadRemoteDatasets"
        v-on:open-files="loadFiles"
      />
      <layout-view v-else key="if-landing" />
    </v-content>

    <v-navigation-drawer
      v-model="screenshotsDrawer"
      absolute
      right
      temporary
    >
      <screenshots
        v-on:screenshot-count="screenshotCount = $event"
        v-on:close="screenshotsDrawer = false"
      />
    </v-navigation-drawer>

    <!-- notifications manager -->
    <notification />

    <!-- dnd overlay -->
    <div
      :class="{ [$style.overlay]: true, [$style.overlayHidden]: !dragHover }"
    >
      <div :class="$style.overlayText">
        <div class="display-3">Drop files here</div>
        <v-icon class="display-4">publish</v-icon>
      </div>
    </div>

    <!-- browser issues -->
    <browser-issues />

    <!-- raw file dialog -->
    <v-dialog v-model="rawDialog" max-width="50%">
      <raw-file-reader
        v-if="rawFile"
        :file="rawFile"
        v-on:cancel="closeRawFileDialog"
        v-on:read="loadPendingRawFile"
      />
    </v-dialog>

    <!-- about dialog -->
    <v-dialog v-model="aboutDialog" max-width="50%">
      <about-box v-on:close="aboutDialog = false" />
    </v-dialog>

    <!-- error dialog-->
    <v-dialog v-model="errorDialog" max-width="50%">
      <error-box :errors="errors" v-on:close="errorDialog = false" />
    </v-dialog>
  </v-app>
</drag-and-drop>
