{
  "presets": [
    ["@babel/preset-env", {
      "debug": false,
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }]
  ]
}
