<v-tabs
  v-model="activeTab"
  centered
  grow
  :class="$style.tabsContainer"
>
  <v-tab>Datasets</v-tab>
  <v-tab>Tools</v-tab>
  <v-tab>Global</v-tab>
  <v-tabs-items
    v-model="activeTab"
    touchless
    :class="$style.tabItems"
  >
    <v-tab-item :class="$style.tabItem">
      <datasets />
    </v-tab-item>
    <v-tab-item eager :class="$style.tabItem">
      <edit-tools />
    </v-tab-item>
    <v-tab-item :class="$style.tabItem">
      <global-settings />
    </v-tab-item>
  </v-tabs-items>
</v-tabs>
