.root {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow-y: auto;
}

.fileUpload {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  border: 3px #aaa dashed;
  border-radius: 5px;
  background-color: #696969;
}

.fileUpload:hover {
  background-color: #787878;
  cursor: pointer;
}

.fileUploadContents {
  width: 100%;
  text-align: center;
  padding: 15px;
}

.buttonText {
  margin-right: 8px;
  text-transform: uppercase;
}

.sampleData {
  flex: 1;
}

.dataLink {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: black;
}

.image {
  max-width: 100%;
}

.linkOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  background-color: white;
}

.linkOverlay:hover {
  opacity: 0.2;
}