<div :class="$style.top">
  <v-container :class="$style.container">
    <v-layout wrap align-center>
      <v-flex xs12>
        <source-select
          label="Target volume"
          :filterFunc="filterImages"
          bindToActiveSource
          @input="setTargetVolume"
        />
      </v-flex>
    </v-layout>
  </v-container>
  <v-container :class="$style.container">
    <v-layout wrap align-center>
      <v-btn v-if="enabled" @click="disable">Disable</v-btn>
      <v-btn v-else @click="enable">Enable</v-btn>
      <v-btn @click="reset" :disabled="!targetVolume">Reset</v-btn>
    </v-layout>
  </v-container>
</div>
