<div>
  <v-container :class="$style.container">
    <v-layout wrap align-center>
      <v-flex xs12>
        <source-select
          label="Target volume"
          :filterFunc="filterImages"
          bindToActiveSource
          hideIfOneDataset
          @input="setTargetVolume"
        />
      </v-flex>
    </v-layout>

    <v-card flat>
      <div :class="$style.heading">
        <v-layout align-center>
          <v-flex xs10>
            <span class="body-2">Tool List</span>
          </v-flex>
          <v-flex xs6>
            <v-btn-toggle
              v-model="activeToolIndex"
              :class="$style.toolList"
            >
              <v-tooltip
                bottom
                v-for="tool in toolList"
                :key="tool.name"
              >
                <template v-slot:activator="{ on }">
                  <v-btn
                    small
                    text
                    v-on="on"
                    :class="$style.toolButton"
                  >
                    <svg-icon :icon="tool.icon" :class="$style.toolIcon" />
                  </v-btn>
                </template>
                {{ tool.name }}
              </v-tooltip>
            </v-btn-toggle>
          </v-flex>
        </v-layout>
      </div>
      <v-card v-show="show2DWarning" flat color="orange" class="mb-2">
        <v-card-text>
          Only 2D annotations are currently supported.
        </v-card-text>
      </v-card>
      <v-divider :class="$style.divider" />
      <div :class="$style.fullWidth">
        <template v-if="tools.length > 0">
          <template v-for="(tool,idx) in tools">
            <div :class="$style.row" :key="idx">
              <span :class="$style.rowAvatar">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <span v-on="on">
                      <svg-icon
                        :icon="tool.toolInfo.icon"
                        :class="$style.toolIcon"
                      />
                    </span>
                  </template>
                  <span>{{ tool.axis }} Axis: slice {{ tool.slice }}</span>
                </v-tooltip>
              </span>
              <div :class="$style.rowContent">
                <span :class="$style.rowContentName" :title="tool.name">
                  {{ tool.name || tool.toolInfo.name }}
                </span>
                <span :class="$style.rowContentDetails">
                  {{ tool.extraInfo }}
                </span>
              </div>
              <div
                v-if="tool.slice !== currentSlice"
                :class="$style.action"
              >
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn v-on="on" small icon>
                      <v-icon color="teal" @click="focusWidget(idx)">
                        mdi-open-in-new
                      </v-icon>
                    </v-btn>
                  </template>
                  Jump to slice
                </v-tooltip>
              </div>
              <div :class="$style.action">
                <pop-up>
                  <template v-slot:trigger>
                    <v-btn small icon>
                      <v-icon>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <template v-slot:popup="{ close }">
                    <v-container grid-list-md :class="[$style.container, $style.popup]">
                      <v-layout wrap align-center>
                        <v-flex xs12>
                          <v-text-field
                            label="Name"
                            :placeholder="tool.toolInfo.name"
                            :value="tool.name"
                            @input="setToolName(idx, arguments[0])"
                          />
                        </v-flex>
                        <v-flex xs12>
                          <div class="body-1">Tool color</div>
                          <v-divider :class="$style.divider" />
                          <palette-picker
                            class="pt-2"
                            :palette="palette"
                            :size="28"
                            :value="tool.color"
                            @input="setToolColor(idx, arguments[0])"
                          />
                        </v-flex>
                        <v-flex xs12>
                          <div class="body-1">Text Size</div>
                          <v-divider :class="$style.divider" />
                        </v-flex>
                        <v-flex xs9>
                          <v-slider
                            min="8"
                            max="32"
                            step="1"
                            dirty
                            hide-details
                            :value="tool.size"
                            @input="setToolSize(idx, arguments[0])"
                          />
                        </v-flex>
                        <v-flex xs3>
                          <v-text-field
                            type="number"
                            min="8"
                            max="32"
                            step="1"
                            :value="tool.size"
                            @input="setToolSize(idx, arguments[0])"
                          />
                        </v-flex>
                      </v-layout>
                      <v-divider :class="$style.divider" />
                      <v-layout align-center>
                        <v-flex xs3 class="text-center">
                          <v-btn icon @click="close">
                            <v-icon>mdi-content-save</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-spacer />
                        <v-flex xs3 class="text-center">
                          <v-btn icon @click="deleteTool(idx); close()">
                            <v-icon color="red">mdi-delete</v-icon>
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </template>
                </pop-up>
              </div>
            </div>
            <v-divider :class="$style.divider" />
          </template>
        </template>
        <template v-else>
          <div class="pt-2 body-1 teal--text text-center">No measurements yet</div>
        </template>
      </div>
    </v-card>
  </v-container>
</div>
