<v-expansion-panel-content v-if="available">
  <div
    :class="$style.subpanelHeader"
    slot="header"
  >
    <v-layout row align-center>
      <v-flex shrink>
        <v-icon>help_outline</v-icon>
      </v-flex>
      <v-flex shrink :class="$style.subpanelTitle">
        <span class="body-2">Information</span>
      </v-flex>
    </v-layout>
  </div>

  <vtk-image-data :dataset="source.getDataset()" />
  <vtk-molecule :dataset="source.getDataset()" />
  <vtk-poly-data :dataset="source.getDataset()" />
  <vtk-field-data
    :dataset="source.getDataset()"
    name="Point Data"
    type="PointData"
  />
  <vtk-field-data
    :dataset="source.getDataset()"
    name="Cell Data"
    type="CellData"
  />

</v-expansion-panel-content>
