<v-card>
  <v-card-title>
    <svg-icon icon="paraview-glance" :class="$style.glanceIcon" />
    <v-spacer />
    <v-btn
      flat
      icon
      v-on:click="$emit('close')"
    >
      <v-icon>close</v-icon>
    </v-btn>
  </v-card-title>
  <hr>
  <v-card-text>
    <p class="body-1">
      <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/paraview-glance/">ParaView Glance</a>
      is an open-source web application developed at
      <a rel="noopener noreferrer" target="_blank" href="https://www.kitware.com/">Kitware</a>
      for visualizing volumetric images, molecular structures, geometric
      objects, and point clouds. It is part of the
      <a rel="noopener noreferrer" target="_blank" href="https://www.paraview.org">ParaView</a>
      platform and can serve as a foundation for building custom web-based
      visualization applications involving
      <a rel="noopener noreferrer" target="_blank" href="http://insightsoftwareconsortium.github.io/itk-js/">ITK.js</a>
      and
      <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/vtk-js/">VTK.js</a>.
    </p>
    <ul :class="$style.list">
      <li class="body-1">
        <span>Here is our</span>
        <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/paraview-glance/doc/">documentation</a>.
      </li>
      <li class="body-1">
        <span>We are open source!</span>
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/Kitware/paraview-glance">Code is on Github</a>.
      </li>
      <li class="body-1">
        <span>Current version: {{version}}</span>
      </li>
    </ul>
    <v-layout row wrap class="text-xs-center" align-end>
      <v-flex xs4>
        <a rel="noopener noreferrer" target="_blank" href="https://www.kitware.com">
          <svg-icon icon="kitware" :class="$style.aboutIcon" />
        </a>
      </v-flex>
      <v-flex xs4>
        <div>&nbsp;</div>
        <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/vtk-js/">
          <svg-icon icon="vtkjs" :class="$style.aboutIcon" />
        </a>
      </v-flex>
      <v-flex xs4>
        <div>&nbsp;</div>
        <a rel="noopener noreferrer" target="_blank" href="http://insightsoftwareconsortium.github.io/itk-js/">
          <svg-icon icon="itkjs" :class="$style.aboutIcon" />
        </a>
      </v-flex>
    </v-layout>
    <div class="pt-3 d-block text-xs-center grey--text text--darken-2">
      &copy; {{ new Date().getFullYear() }} — Kitware, Inc.
    </div>
  </v-card-text>
</v-card>
