<v-card>
  <div :class="$style.close">
    <v-btn text icon @click="$emit('close')">
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </div>
  <v-card-title class="text-center">
    <svg-icon icon="glance-logo" :class="$style.glanceIcon" />
  </v-card-title>
  <v-card-text>
    <p class="body-1">
      <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/glance/">Glance</a>
      is an open-source web application developed at
      <a rel="noopener noreferrer" target="_blank" href="https://www.kitware.com/">Kitware</a>
      for visualizing volumetric images, molecular structures, geometric
      objects, and point clouds.  Also, it can serve as a foundation for building custom web-based
      visualization applications involving
      <a rel="noopener noreferrer" target="_blank" href="http://insightsoftwareconsortium.github.io/itk-js/">ITK.js</a>
      and
      <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/vtk-js/">VTK.js</a>.
    </p>
    <ul class="ml-5">
      <li class="body-1">
        <span>Here is our</span>
        <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/glance/doc/">documentation</a>.
      </li>
      <li class="body-1">
        <span>Ask questions in our</span>
        <a rel="noopener noreferrer" target="_blank" href="https://discourse.vtk.org/c/web/volview/13">community support channel</a>.
      </li>
      <li class="body-1">
        <span>Request features and report bugs in our</span>
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/Kitware/glance/issues">issue tracker</a>.
      </li>
      <li class="body-1">
        <span>We are open source!</span>
        <a rel="noopener noreferrer" target="_blank" href="https://github.com/Kitware/glance">Code is on Github</a>.
      </li>
      <li class="body-1">
        <span>Current version: {{version}}</span>
      </li>
    </ul>
    <v-layout row wrap class="text-center" align-end>
      <v-flex xs4>
        <a rel="noopener noreferrer" target="_blank" href="https://www.kitware.com">
          <svg-icon icon="kitware" :class="$style.aboutIcon" />
        </a>
      </v-flex>
      <v-flex xs4>
        <div>&nbsp;</div>
        <a rel="noopener noreferrer" target="_blank" href="https://kitware.github.io/vtk-js/">
          <svg-icon icon="vtkjs" :class="$style.aboutIcon" />
        </a>
      </v-flex>
      <v-flex xs4>
        <div>&nbsp;</div>
        <a rel="noopener noreferrer" target="_blank" href="http://insightsoftwareconsortium.github.io/itk-wasm/">
          <svg-icon icon="itkjs" :class="$style.aboutIcon" />
        </a>
      </v-flex>
    </v-layout>
    <div class="pt-4 d-block text-center grey--text text--darken-2">
      &copy; {{ new Date().getFullYear() }} — Kitware, Inc.
    </div>
  </v-card-text>
</v-card>
