.datasetHeader {
  user-select: none;
  /* handle overflowing names */
  overflow: hidden;
  text-overflow: ellipsis;
}

.subpanelHeader {
  user-select: none;
  margin-left: 1em;
}

/** should be moved to own component **/

.block {
  padding: 4px 10px 4px 16px;
  margin-left: 6px;
}

.blockTitle {
  padding: 4px 0; /* override vuetify */
  margin: 8px 4px;
  border-bottom: 1px solid #bbb;
}

.blockContent {
  padding: 4px;
}

.blockRow {
  margin: 4px 0;
}

.noTopPadding {
  padding-top: 0;
}

.smallLabel {
  font-size: 12px;
}

.noMargin {
  margin: 0;
}

.active {
  color: rgba(0,0,0,0.54) !important;
}

.inactive {
  color: rgba(0,0,0,0.25) !important;
}
