<v-dialog v-model="dialog" max-width="50%">
  <v-card>
    <v-card-title class="title">Potential Issues</v-card-title>
    <v-card-text>
      <p>
        We've detected some system configurations that may affect the
        performance of the application:
      </p>
      <ul :class="$style.list">
        <li
          v-for="(issue, i) in issues"
          :key="i"
        >
          {{ issue }}
        </li>
      </ul>
    </v-card-text>
    <v-card-actions>
      <v-checkbox
        v-model="suppressWarning"
        label="Don't show again"
        hide-details
      />
      <v-spacer />
      <v-btn
        color="primary"
        v-on:click="closeDialog"
      >
        Okay
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
