<v-dialog v-model="dialog" width="90%" max-width="900px">
  <v-card>
    <v-card-title class="title">Welcome to ParaView Glance!</v-card-title>
    <v-card-text>
      <p>
        You may experience slower rendering speeds because of the following
        reason(s):
      </p>
      <ul :class="$style.list">
        <li v-if="issues.webglVersion">
          Detected WebGL version {{ issues.webglVersion }}. For best performance,
          please use a computer and/or browser with at least WebGL 2.
        </li>
        <li v-if="issues.integratedGPU">
          Using GPU "{{ issues.integratedGPU }}". A dedicated GPU would
          offer better performance.
          <a rel="noopener noreferrer" target="_blank" href="https://wevideo.zendesk.com/hc/en-us/articles/225259448-How-to-enable-WebGL">
            More info on enabling dedicated GPUs in browsers.
          </a>
        </li>
      </ul>
    </v-card-text>
    <v-card-actions>
      <v-checkbox
        v-model="suppressWarning"
        label="Don't show again"
        hide-details
      />
      <v-spacer />
      <v-btn
        color="primary"
        v-on:click="closeDialog"
      >
        Okay
      </v-btn>
    </v-card-actions>
  </v-card>
</v-dialog>
