.container {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.vtkView {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.viewTypeSelector {
  max-width: 140px;
  min-width: 140px;
}

.floatToolbar {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
}

.toolbarWrapper {
  position: relative;
}

.smallCardText {
  padding: 5px;
}

.button {
  /* override vuetify */
  margin: 2px 4px;
}

.smallToolbar :global(.toolbar__content) {
  height: 45px !important;
}
