.container {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}

.vtkView {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.viewTypeSelector {
  max-width: 140px;
  min-width: 140px;
  user-select: none;
}

.floatToolbar {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
}

.toolbarWrapper {
  position: relative;
}

.button {
  /* override vuetify */
  margin: 2px 4px;
}

.smallToolbar {
  overflow: hidden;
}

.activeView {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 8px;
  height: 8px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%);
}

.svgLayer {
  position: absolute;
  left: 0;
  top: 0;
  /* v-toolbar height is 45px */
  height: calc(100% - 45px);
  width: 100%;
  pointer-events: none;
}