<v-container fluid :class="$style.container">
  <v-layout column :class="$style.floatToolbar">
    <v-btn icon dark small v-on:click="resetCamera()">
      <v-icon>filter_center_focus</v-icon>
    </v-btn>
    <v-btn icon dark small v-on:click="toggleCrop()" v-if="actions.crop">
      <v-icon>crop</v-icon>
    </v-btn>
    <v-btn icon dark small v-on:click="rollLeft()">
      <v-icon>rotate_left</v-icon>
    </v-btn>
    <v-btn icon dark small v-on:click="rollRight()">
      <v-icon>rotate_right</v-icon>
    </v-btn>
  </v-layout>
  <v-layout column fill-height>
    <v-flex fill-height :class="[$style.vtkView, 'js-view']" />
    <div :class="$style.toolbarWrapper">
      <toolbar-sheet v-model="backgroundSheet">
        <v-card dark>
          <v-card-title class="body-2">Background Color</v-card-title>
          <v-card-text>
            Colors here...
          </v-card-text>
        </v-card>
      </toolbar-sheet>
      <v-toolbar dark>
        <v-select
          dense
          flat
          dark
          :class="$style.viewTypeSelector"
          :items="viewTypes"
          :value="viewType"
          @change="changeViewType"
        />
        <v-spacer />
        <v-btn
          icon
          :disabled="backgroundSheet"
          v-on:click="backgroundSheet = !backgroundSheet"
        >
          <v-icon>palette</v-icon>
        </v-btn>
        <v-btn icon v-on:click="screenCapture()">
          <v-icon>add_a_photo</v-icon>
        </v-btn>
        <v-btn icon v-on:click="splitScreen()" v-if="actions.split">
          <v-icon>library_add</v-icon>
        </v-btn>
        <v-btn icon v-on:click="singleView()" v-if="actions.single">
          <v-icon>fullscreen</v-icon>
        </v-btn>
      </v-toolbar>
    </div>
  </v-layout>
</v-container>
