<v-container fluid :class="$style.container">
  <v-layout column :class="$style.floatToolbar">
    <v-tooltip left>
      <span>Reset camera</span>
      <v-btn
        slot="activator"
        icon
        dark
        small
        v-on:click="resetCamera()"
      >
        <v-icon>filter_center_focus</v-icon>
      </v-btn>
    </v-tooltip>
    <v-tooltip left>
      <span>Crop</span>
      <v-btn
        slot="activator"
        icon
        dark
        small
        v-on:click="toggleCrop()"
        v-if="actions.crop"
      >
        <v-icon>crop</v-icon>
      </v-btn>
    </v-tooltip>
    <v-tooltip left>
      <span>Rotate left 90°</span>
      <v-btn
        slot="activator"
        icon
        dark
        small
        v-on:click="rollLeft()"
      >
        <v-icon>rotate_left</v-icon>
      </v-btn>
    </v-tooltip>
    <v-tooltip left>
      <span>Rotate right 90°</span>
      <v-btn
        slot="activator"
        icon
        dark
        small
        v-on:click="rollRight()"
      >
        <v-icon>rotate_right</v-icon>
      </v-btn>
    </v-tooltip>
  </v-layout>
  <v-layout column fill-height>
    <v-flex
      fill-height
      :class="[$style.vtkView, 'js-view']"
      :style="{ background: viewData.background }"
    />
    <div :class="$style.toolbarWrapper">
      <toolbar-sheet v-model="backgroundSheet">
        <v-card dark>
          <v-card-text :class="$style.smallCardText">
            <v-layout row>
              <v-spacer />
              <palette-picker
                :size="20"
                :palette="palette"
                :value="viewData.background"
                v-on:input="backgroundSheet = false; $emit('bg-change', $event)"
              />
            </v-layout>
          </v-card-text>
        </v-card>
      </toolbar-sheet>
      <v-toolbar dark>
        <v-select
          dense
          flat
          dark
          :class="$style.viewTypeSelector"
          :items="viewTypes"
          :value="viewType"
          @change="changeViewType"
        />
        <v-spacer />
        <v-tooltip top>
          <span>Background color</span>
          <v-btn
            slot="activator"
            icon
            :disabled="backgroundSheet || !view"
            v-on:click="backgroundSheet = !backgroundSheet"
          >
            <v-icon>palette</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip top>
          <span>Screenshot</span>
          <v-btn
            slot="activator"
            icon
            v-on:click="screenCapture()"
          >
            <v-icon>add_a_photo</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip
          top
          v-if="actions.split"
          >
          <span>Add view(s)</span>
          <v-btn slot="activator"
            icon
            v-on:click="splitScreen()"
          >
            <v-icon>library_add</v-icon>
          </v-btn>
        </v-tooltip>
        <v-tooltip
          top
          v-if="actions.single"
        >
          <span>Fullscreen</span>
          <v-btn slot="activator"
            icon
            v-on:click="singleView()"
          >
            <v-icon>fullscreen</v-icon>
          </v-btn>
        </v-tooltip>
      </v-toolbar>
    </div>
  </v-layout>
</v-container>
