<v-expansion-panels accordion>
  <v-expansion-panel>
    <v-expansion-panel-header class="subtitle-2">
      Measurements
    </v-expansion-panel-header>
    <v-expansion-panel-content eager :class="$style.panelContent">
      <measurement-tools
        :enabled="enabledTool === 'measurement'"
        @enable="setEnabledTool('measurement', $event)"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
  <v-expansion-panel>
    <v-expansion-panel-header class="subtitle-2">
      Painting
    </v-expansion-panel-header>
    <v-expansion-panel-content :class="$style.panelContent">
      <paint-tool
        :enabled="enabledTool === 'paint'"
        @enable="setEnabledTool('paint', $event)"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
  <v-expansion-panel>
    <v-expansion-panel-header class="subtitle-2">
      Cropping
    </v-expansion-panel-header>
    <v-expansion-panel-content :class="$style.panelContent">
      <crop-tool
        :enabled="enabledTool === 'crop'"
        @enable="setEnabledTool('crop', $event)"
      />
    </v-expansion-panel-content>
  </v-expansion-panel>
  <v-expansion-panel>
    <v-expansion-panel-header class="subtitle-2">
      Median Filter
    </v-expansion-panel-header>
    <v-expansion-panel-content :class="$style.panelContent">
      <median-filter />
    </v-expansion-panel-content>
  </v-expansion-panel>
</v-expansion-panels>
