layout: index
description: Kitware Glance - your data viewer for the Web
subtitle: Visualize Your Data With Glance
comments: false
---

div#intro-get-started-wrap
  a(href="/glance/app", id="intro-get-started-link") Try out Glance

ul#intro-feature-list(style="position:relative;top:-50px;")
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cloud-download
      h3.intro-feature-title
        a(href="https://github.com/kitware/glance").link Releases
      p.intro-feature-desc
        | Glance is a general purpose standalone Web application that
        | can be used to visualize many data types. It is also a great framework
        | for building custom viewers on the web which can involve remote services.

  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
          i.fa.fa-life-ring
      h3.intro-feature-title
        a(href="http://www.vtk.org/services/").link Support and Services
      p.intro-feature-desc Kitware offers advanced software R&D solutions and services. Find out how we can help with your next project.
